<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="dashboard.css" rel="stylesheet">

    <title>Home</title>
	<style>
	html{
	margin-left: 5%;
	margin-right: 5%;
	font-size: 120%; 
	}
	

  </style>
    <h1>Welcome to Supply XChange!</h1>
  </head>

  <body>
    <p>
      We connect people in need of supplies (requesters) with others (suppliers) looking to support and contact companies or communities in dire need of aid!
      <form action="\index" method="POST">
	<input type="submit" value="Get Connected!">
      </form>
      <form action="\browse_index" method="GET">
	<input type="submit" value="Browse">
	</form>
    </p>
  </body>
</html>

